# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build intermediate files
Makefile
config.log
config.status
.deps
libtool
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.*
configure
depcomp
install-sh
ltmain.sh
m4/
missing
obj/
libs/

*.pvr
*.dll
*.zip
/VS2015/.vs/pvr.chinachu/v14/.suo
/VS2015/chinachu/Release/chinachu.Build.CppClean.log
/VS2015/chinachu/Release/chinachu.log
/VS2015/pvr_client/Release/pvr.chinachu.Build.CppClean.log
/VS2015/pvr_client/Release/pvr_client.log
/VS2015/pvr.chinachu.VC.db
/VS2015/pvr.chinachu.VC.VC.opendb
